* {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(152, 84, 59, 0.455);
}

#datos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button {
    height: 40px;
    width: 150px;
    font-size: 15px;
    margin: 20px;
    background-color: rgba(242, 129, 63, 0.553);
}

.contenedor {
    height: 500px;
    width: 20%;
    background-color: #ebd4d4;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

ul {
    list-style-type: none;
    padding-left: 0; 
}

h1 {
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 10px;
    text-align: center;
}

li {
    font-size: 25px;
}