<!DOCTYPE html>
<html>
<head>
    <title>Eliminar Destino Turístico</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Eliminar Destino Turístico</h1>
    </header>
    <main>
        <p>¿Estás seguro de que deseas eliminar "{{ destino.nombreCiudad }}"?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit">Eliminar</button>
        </form>
        <a href="{% url 'listar_destinos' %}">Volver a la lista de destinos</a>
        <a href="{% url 'listar_categorias' %}">Ver Categorías</a>
    </main>
    <footer>
        <p>&copy; 2024 Destinos Turísticos</p>
    </footer>
</body>
</html>
