<!DOCTYPE html>
<html>
<head>
    <title>Lista de Categorías</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Lista de Categorías</h1>
    </header>
    <main>
        <a href="{% url 'añadir_categoria' %}">Añadir Categoría</a>
        <ul>
            {% for categoria in categorias %}
            <li>
                <h2>{{ categoria.nombre }}</h2>
                <ul>
                    {% for destino in categoria.destinos.all %}
                    <li>{{ destino.nombreCiudad }}</li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
        <a href="{% url 'listar_destinos' %}">Volver a la lista de destinos</a>
    </main>
    <footer>
        <p>&copy; 2024 Destinos Turísticos</p>
    </footer>
</body>
</html>
