* {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(152, 84, 59, 0.455);
    overflow: auto;
}

#datos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
}

button {
    height: 40px;
    width: 150px;
    font-size: 15px;
    margin: 20px;
    background-color: rgba(242, 129, 63, 0.553);
}

.contenedor {
    width: 80%;
    background-color: #ebd4d4;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    overflow-y: auto;
    max-height: 80vh;
}

.canvas-container {
    flex: 1 1 300px;
    max-width: 350px;
    max-height: 300px; 
    margin: 10px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

canvas {
    max-width: 100%;
    height: 300px;
}