<!DOCTYPE html>
<html>
<head>
    <title>Modificar Destino Turístico</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Modificar Destino Turístico</h1>
    </header>
    <main>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Guardar Cambios</button>
        </form>
        <div class="text-center mt-20">
            <a href="{% url 'listar_destinos' %}">Volver a la lista de destinos</a>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Destinos Turísticos</p>
    </footer>
</body>
</html>
